env
db.sqlite3
powerdns_data.sql
mysql

# Py Project files
.cache/
.coverage
.deps/
powerdns_rest_api.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.python-version
