env
db.sqlite3
poweradmin_data.sql
mysql
*.swp

# Py Project files
.cache/
.coverage
.deps/
poweradmin_rest_api.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.python-version
