django==1.11.20 # pyup: >=1.11,<1.12
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
django-auth-ldap==1.7.0
mysqlclient==1.4.2
django-filter==2.1.0
django-rest-swagger==2.2.0
uwsgi==2.0.18
